.main{
    width: 40rem;
    height: 100vh;
    padding-left: 3rem;
    

    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    
}
.bloque{
    width: 10rem;
    height: 10rem;
    background-color: rgb(255, 215, 163);
    box-shadow: 0px 4px 4px rgb(30, 21, 31);
}

.activo{
    display: none;

}